// In order to run the Skills Builder, we need to set these Algolia configuration values
const config = {
  ALGOLIA_APP_ID: '<ALGOLIA_STAGE_APP_ID>',
  ALGOLIA_JOBS_INDEX_NAME: '<ALGOLIA_STAGE_JOBS_INDEX_NAME>',
  ALGOLIA_PRODUCT_INDEX_NAME: '<ALGOLIA_STAGE_PRODUCT_INDEX_NAME>',
  ALGOLIA_SEARCH_API_KEY: '<ALGOLIA_STAGE_SEARCH_API_KEY>',
};

export default config;
